#tags-container .tag-name {
  background: var(--gold);
  color: black;
  padding: 5px 8px 5px 12px;
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0 50%);
  transition: 0.5s ease-in-out;
  border-radius: 2px;
}
#tags-container .tag-name:hover {
  filter: brightness(1.5);
  cursor: pointer;
}
